:root {
  --bg-blue: #5fb9db;
  --card-purple: #9b59b6;
  --text-dark: #2d3436;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2c3e50;
  font-family: "Fredoka One", cursive;
}

/* bagian card */
.flashcard-container {
  width: 900px;
  height: 600px;
  background-color: var(--bg-blue);
  border-radius: 20px;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

/* logo home */
.home-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.img-home {
  width: 50px;
  height: auto;
}

.title {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: white;
  text-shadow: 4px 4px 0px var(--text-dark);
  margin-bottom: 20px;
}

/* area utama */
.main-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  perspective: 1000px;
}

.flip-card {
  width: 240px;
  height: 340px;
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* class untuk java script */
.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 5px solid #2d3436;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.card-front {
  background-color: #9b59b6;
}

.card-back {
  background-color: #8e44ad;
  transform: rotateY(180deg);
}

/* area dalam card */
.img-flag {
  width: 45px;
  margin-bottom: 10px;
}
.character-img {
  max-height: 200px;
  object-fit: contain;
  flex: 1;
}
.verb-text {
  font-family: "Fredoka One", cursive;
  font-size: 28px;
  margin: 10px 0;
}

/* tombol navigasi */
.nav-arrow {
  background: none;
  border: none;
  font-size: 50px;
  color: #471f69;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-arrow:hover {
  color: white;
}

/* tombol flip */
.flip-button {
  background-color: #4a2d5e;
  border: 4px solid var(--text-dark);
  border-radius: 50px;
  padding: 12px 60px;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 6px 0 #2d1b3d;
  margin-top: 20px;
}

.flip-button:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #471f69;
}

/* progress bar */
.progress-wrapper {
  width: 300px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid #2d3436;
}

.progress-bar {
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, #cf89eb 0%, #580c9a 100%);
  border-radius: 10px;
  transition: width 0.4s ease;
}

/* congratulations button */
.congrats-wrapper {
  cursor: pointer;
  transition: transform 0.1s;
}

.congrats-wrapper p {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.congrats-wrapper:active {
  transform: scale(0.95);
}

.btn-img {
  width: 200px;
  height: auto;
  filter: drop-shadow(0 5px 0px #b8860b);
}
.medal-container {
  margin-top: 35px;
}

/* congrats overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-blue);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: 20px;
}
