:root {
  --bg-blue: #74b9ff;
  --border-blue: #54a0ff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f3640;
  font-family: "Fredoka One", cursive;
}

/* bagian card */
.home-container {
  width: 900px;
  height: 600px;
  background-color: var(--bg-blue);
  border-radius: 20px;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: "Press Start 2P", cursive;
  font-size: 45px;
  color: white;
  text-shadow: 6px 6px 0px #2d3436;
  margin: 10px 0 30px 0;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.side-box,
.center-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.logo-img {
  max-width: 200px;
  height: auto;
  margin-bottom: 25px;
}

/* tombol play */
.play-button {
  background: linear-gradient(to bottom, #feca57, #ff9f43);
  border: 4px solid #ee5253;
  border-radius: 15px;
  padding: 10px 45px;
  color: white;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 8px 0 #b33939;
  transition: transform 0.1s, box-shadow 0.1s;
}

.play-button:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #b33939;
}

.play-button:hover {
  filter: brightness(1.1);
}
